<label for="vacationType">Vacation Type: </label>
<select name="vacationType" id="vacationType" #vacType>
  <option *ngFor="let v of vacationTypes" value="{{v}}">{{v}}</option>
</select>
<div>
  <input type="text" name="employeeId" id="employeeId" [(ngModel)]="employeeId" #empId (change)="getBalances(empId.value)">
</div>
<div>
  <label for="annual">Annual :</label>
  <span>{{balance.annual}}</span>
</div>
<div>
  <label for="annual">Sickness :</label>
  <span>{{balance.sickness}}</span>
</div>
<div>
  <label for="start">Start :</label>
  <input type="date" #end name="start" id="start">
</div>
<div>
  <label for="end">End :</label>
  <input type="date" #start name="end" id="end">
</div>
<div>
  <button type="submit" (click)="reserve(vacType.value,start.value,end.value)">Reserve</button>
</div>